<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="tokenService" class="cn.yapin.gzh.service.impl.TokenServiceImpl"/>
    <bean id="commodityManagementService"
          class="cn.yapin.gzh.service.impl.CommodityManagementServiceImpl"/>
    <bean id="orderService" class="cn.yapin.gzh.service.impl.OrderServiceImpl"/>
    <bean id="printService" class="cn.yapin.gzh.service.impl.PrintServiceImpl"/>
    <bean id="sellersManagerService" class="cn.yapin.gzh.service.impl.SellersManagerServiceImpl"/>
</beans>